*{
    margin: 0;
    padding: 0;
    font-family: lato,sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: url("image.jpg") no-repeat center center/cover;
}
.container
{
    width: 550px;
    height: 450px;
}
.header
{
    border: 2px solid #fff;
    background-color: #262626;
    color: white;
    margin: 20px auto;
    padding: 5px;
    width:80% ;
    border-radius: 5px;
    font-size: 1.2rem;
    
}
.main-content
{
    background-color: #fff;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    padding: 58px 48px;
    box-shadow: 0 0 10px;

}
.main-content.text-area
{
    line-height: 1.5px;
    font-size: 1.5rem;
}
.main-content .person
{
    margin-top: 20px;
    text-transform: uppercase;
    color: red;
    font-size: 1.6rem;
}
.button
{
    background-color: #262626;
    color: white;
    font-size: 1.3rem;
    padding: 18px 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.button:active{
    background-color: blue
}